a:link  { text-decoration: none;} a:visited { text-decoration: none;}
html {font-family: monospace; box-sizing: border-box; background-color: #28282B;}

nav {
margin: auto;
padding: auto;
padding-bottom: 10px;
overflow: hidden;
}

nav a {
background: none;
color: #2596be;
text-shadow: 0 1px grey;
padding: 1em;
font-weight: bold;
font-size: large;
text-transform: uppercase;
}

nav a:hover {
    background-color: #2596be;
    color: whitesmoke;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style-type: none;
}

header img {
    border-radius: 50%;
    border-width: 0.2em;
    border-style: solid;
    border-color: whitesmoke;
    width: 190px;
    height: 190px;
    margin-top: -2em;
    margin-left: 2em;
    transform: rotate(-40deg);
}

h1, h2 { color: purple;
  text-shadow: 0 1px black;
}

h3 { color: #2596be;
  text-shadow: 0 1px black;
text-decoration: wavy overline gold;}

button {
background: none;
color: #2596be;
text-shadow: 0 1px black;
border: none;
padding: 20px 15px;
font-weight: bold;
text-transform: uppercase;
}

button:hover{
    background-color: #2596be;
    color: whitesmoke;
  }

  form {
    box-sizing: border-box;
    padding: 3rem;
    border-radius: 2rem;
    background-image: url(/images/form.jpg);
    border: 2px solid whitesmoke;
    width: fit-content;
  }

  textarea, input[type=text], select, input[type=submit], input[type=email] {
    width: 15rem;
    height: 2rem;
    font-weight: bolder;
    border-width: 2px;
  }

.grid {display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap:10px;
background-image: url(/images/banner.png);
background-repeat: no-repeat;
background-size: auto;
border: 2px solid whitesmoke;
}

